{{ if isset .Site.Params "cnnzsiteid" }}
<span style="position: absolute;" id="cnzz_stat_icon_{{ .Site.Params.CNNZSiteId }}">
  <a href="//www.cnzz.com/stat/website.php?web_id={{ .Site.Params.CNNZSiteId }}" target="_blank" title="站长统计">
    <img border="0" hspace="0" vspace="0" src="//icon.cnzz.com/img/pic1.gif">
  </a>
</span>
<script type="text/javascript">
  (function(){
    var cnzz_s_tag = document.createElement('script');
    cnzz_s_tag.type = 'text/javascript';
    cnzz_s_tag.async = true;
    cnzz_s_tag.charset = 'utf-8';
    cnzz_s_tag.src = 'https://s4.cnzz.com/z_stat.php?id={{ .Site.Params.CNNZSiteId }}&show=pic1';
    var root_s = document.getElementsByTagName('script')[0];
    root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
  })();
</script>
{{ end }}

{{ if .Site.Params.BusuanziCounter }}
<div class="busuanzi-count">
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span class="site-uv">
    <i class="fa fa-user"></i>
    <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>
  </span>  
  <span class="site-pv">
    <i class="fa fa-eye"></i>
    <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>
  </span>
</div>
{{ end }}