{{ if .Site.Params.TagsCloud.Enable }}
    <div class="tagcloud-of-blogroll motion-element tagcloud-of-blogroll-inline">
    <div class="tagcloud-of-blogroll-title">
        <i class="fa fa-fw fa-tags"></i>
        {{ i18n "TagCloud" }}
    </div>
    <ul class="tagcloud-of-blogroll-list">
        {{ range (first ($.Site.Params.TagsCloud.Limit) $.Site.Taxonomies.tags.ByCount) }}
        <li  class="tagcloud-of-blogroll-item">
            <a href="{{ "/tags/" | relLangURL }}{{ .Name | urlize }}">{{ .Name | humanize }}</a>
        </li>
        {{ end }}
    </ul>
    </div>
{{ end }}
