<script type="text/javascript" src="//cdn.bootcdn.net/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{{ if .IsPage }}
<script src="//cdn.bootcdn.net/ajax/libs/imageviewer/0.1.0/viewer.min.js"></script>
{{ end }}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/affix.js"></script>
<script type="text/javascript" src="/js/scrollspy.js"></script> 
<script type="text/javascript">

  function getCntViewHeight() {
    var docHeight = $('#content').height(),
        winHeight = $(window).height(),
        cntViewHeight = (docHeight > winHeight) ? (docHeight - winHeight) : ($(document).height() - winHeight);
    return cntViewHeight;
  }

  function getScrollbarWidth() {
    var $div = $('<div />').addClass('scrollbar-measure').prependTo('body');
    var div = $div[0];
    var scrollbarWidth = div.offsetWidth - div.clientWidth;

    $div.remove();

    return scrollbarWidth;
  }

  function registerBackTop() {
    var THRESHOLD = 50;
    var $top = $('.back-to-top');

    $(window).on('scroll', function () {
      $top.toggleClass('back-to-top-on', window.pageYOffset > THRESHOLD);

      var scrollTop = $(window).scrollTop();
      var cntViewHeight = getCntViewHeight();
      var scrollPercent = (scrollTop) / (cntViewHeight);
      var scrollPercentRounded = Math.round(scrollPercent*100);
      var scrollPercentMaxed = (scrollPercentRounded > 100) ? 100 : scrollPercentRounded;
      $('#scrollpercent>span').html(scrollPercentMaxed);
    });

    $top.on('click', function () {
      $("html,body").animate({
                 scrollTop: 0,
                 screenLeft: 0,
                 }, 800);
    });
  }

  function initScrollSpy () {
    var tocSelector = '.post-toc';
    var $tocElement = $(tocSelector);
    var activeCurrentSelector = '.active-current';

    $tocElement
      .on('activate.bs.scrollspy', function () {
        var $currentActiveElement = $(tocSelector + ' .active').last();

        removeCurrentActiveClass();
        $currentActiveElement.addClass('active-current');
      })
      .on('clear.bs.scrollspy', removeCurrentActiveClass);

    $('body').scrollspy({ target: tocSelector });

    function removeCurrentActiveClass () {
      $(tocSelector + ' ' + activeCurrentSelector)
        .removeClass(activeCurrentSelector.substring(1));
    }
  }

  function initAffix () {
    var headerHeight = $('.header-inner').height();
    var footerOffset = parseInt($('.main').css('padding-bottom'), 10);
    var sidebarTop = headerHeight + 10;

    $('.sidebar-inner').affix({
      offset: {
        top: sidebarTop,
        bottom: footerOffset
      }
    });

    $(document)
      .on('affixed.bs.affix', function () {
        updateTOCHeight(document.body.clientHeight - 100);
      });
  }

  function initTOCDimension () {
    var updateTOCHeightTimer;

    $(window).on('resize', function () {
      updateTOCHeightTimer && clearTimeout(updateTOCHeightTimer);

      updateTOCHeightTimer = setTimeout(function () {
        var tocWrapperHeight = document.body.clientHeight - 100;

        updateTOCHeight(tocWrapperHeight);
      }, 0);
    });

    // Initialize TOC Height.
    updateTOCHeight(document.body.clientHeight - 100);

    // Initialize TOC Width.
    var scrollbarWidth = getScrollbarWidth();
    $('.post-toc').css('width', 'calc(100% + ' + scrollbarWidth + 'px)');
  }

  function updateTOCHeight (height) {
    height = height || 'auto';
    $('.post-toc').css('max-height', height);
  }

$(function() {

  var sidebarTop = $('.header-inner').height() + 10;
  $('#sidebar').css({ 'margin-top': sidebarTop }).show(); 

  // Seems no good for fixed the scroll bar issues
  var headerHeight = $('.header-inner').height();
  var sidebarHeight = $('.sidebar-inner').height();
  var leftHeight = headerHeight + sidebarHeight + 50;
  var contentHeight = $('.content-wrap').height();

  if (contentHeight < leftHeight) {
    $('.content-wrap').css('height', leftHeight + 50);
  }

  registerBackTop();
  initScrollSpy();
  initAffix();
  initTOCDimension();

{{ if .IsPage }}
  $('.post-body').viewer();  
{{ end }}

  $('.sidebar-nav-toc').click(function(){
    $(this).addClass('sidebar-nav-active');
    $(this).next().removeClass('sidebar-nav-active');      
    $('.'+$(this).next().attr('data-target')).toggle(500);
    $('.'+$(this).attr('data-target')).toggle(500);
  });

  $('.sidebar-nav-overview').click(function(){
    $(this).addClass('sidebar-nav-active');
    $(this).prev().removeClass('sidebar-nav-active');      
    $('.'+$(this).prev().attr('data-target')).toggle(500);
    $('.'+$(this).attr('data-target')).toggle(500);
  });
{{ if and (isset .Site.Params "daovoiceid") }}
  if (document.body.clientWidth > 800) {
    daovoice('init', {
      app_id: "{{ .Site.Params.DaoVoiceId }}"
    });
    daovoice('update');
  }
  
{{ end }}
});  
</script>

{{ if and (.IsPage) (isset .Site.Params "comment") (eq .Site.Params.Comment "Valine") }}
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script type="text/javascript">
  new Valine({
      el: '#vcomments',
      appId: '{{ .Site.Params.LCAppId }}',
      appKey: '{{ .Site.Params.LCAppKey }}',
      visitor: true,
      placeholder: ' {{ i18n "ValineComment" }} ',
      requiredFields: ['nick', 'mail'],
      lang: "{{ .Page.Lang }}"
  });
</script>
{{end }}
{{ if and (.IsPage) (isset .Site.Params "comment") (eq .Site.Params.Comment "LiveRe") }}
<script src="//cdn.jsdelivr.net/npm/leancloud-storage@4.6.1/dist/av-min.js"></script>
<script type="text/javascript">
(function(d, s) {
     var j, e = d.getElementsByTagName(s)[0];
     if (typeof LivereTower === 'function') { return; }
     j = d.createElement(s);
     j.src = '//cdn-city.livere.com/js/embed.dist.js';
     j.async = true;
     e.parentNode.insertBefore(j, e);
 })(document, 'script');

function showTime(Counter) {
  var query = new AV.Query(Counter);
  var entries = [];
  var $visitors = $(".leancloud_visitors");
 
  $visitors.each(function () {
    entries.push( $(this).attr("id").trim() );
  });

  query.containedIn('url', entries);
  query.find()
    .then((results) => {
      var COUNT_CONTAINER_REF = '.leancloud-visitors-count';

      if (results.length === 0) {
        $visitors.find(COUNT_CONTAINER_REF).text(0);
        return;
      }

      for (var i = 0; i < results.length; i++) {
        var item = results[i];
        var url = item.get('url');
        var time = item.get('time');
        var element = document.getElementById(url);

        $(element).find(COUNT_CONTAINER_REF).text(time);
      }
      for(var i = 0; i < entries.length; i++) {
        var url = entries[i];
        var element = document.getElementById(url);
        var countSpan = $(element).find(COUNT_CONTAINER_REF);
        if( countSpan.text() == '') {
          countSpan.text(0);
        }
      }
    }, (error) => {
      console.log('Query vistors failed: '+error);
    });
}

function addCount(Counter) {
  var $visitors = $(".leancloud_visitors");
  var url = $visitors.attr('id').trim();
  var title = $visitors.attr('data-flag-title').trim();
  var query = new AV.Query('Counter');
  query.equalTo("url", url);
  query.find().then((results) => {
    if (results.length > 0) {
      var counter = results[0];
      counter.increment('time', 1);
      counter.save(null, {
        query: new AV.Query('Counter').equalTo('url', url),
        fetchWhenSave: true
      }).then((counter) => {
        var $element = $(document.getElementById(url));
        $element.find('.leancloud-visitors-count').text(counter.get('time'));        
      }, (error) => {
        console.log('Update vistor failed: '+error);
      });
    } else {      
      var acl = new AV.ACL();
      acl.setPublicReadAccess(true);
      acl.setPublicWriteAccess(true);
     
      var newCounter = new Counter();
      newCounter.set("title", title);
      newCounter.set("url", url);
      newCounter.set("time", 1);

      newCounter.setACL(acl);
      newCounter.save().then((counter) => {
        
      var $element = $(document.getElementById(url));
      $element.find('.leancloud-visitors-count').text(newCounter.get('time'));
    }, (error) => {
      console.log("Save new vistor failed: "+error);
    });
  }}); 
}

$(function() {

  AV.init({
    appId: "{{ .Site.Params.LCAppId }}",
    appKey: "{{ .Site.Params.LCAppKey }}",
    serverURL: "{{ .Site.Params.LCServer }}"
  });  

  const Counter = AV.Object.extend("Counter");

  if ($('.leancloud_visitors').length == 1) {
    addCount(Counter);
  } else if ($('.post-title-link').length > 1) {
    showTime(Counter);
  }
});
</script>
{{ end }}
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
{{ if and (isset .Site.Params "daovoiceid") }}
<script>(function(i,s,o,g,r,a,m){i["DaoVoiceObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;a.charset="utf-8";m.parentNode.insertBefore(a,m)})(window,document,"script",('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/{{ .Site.Params.DaoVoiceId }}.js","daovoice")</script>
{{ end }}