<!DOCTYPE HTML>
<html lang="{{ .Site.Language.Lang }}" dir="{{ $.Param "contentdir" | default "zh" }}">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8;"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="robots" content="all" />
  <meta name="robots" content="index,follow"/>
  <meta name="description" content="{{ i18n "404PageTitle" }}"/>
  <title>{{ i18n "404PageTitle" }}</title>
  <script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8" homePageUrl="{{ "/" | relLangURL }}" homePageName="{{ i18n "BackHomeTip" }}"></script>
</head>
<body>
    
</body>
</html>